In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
books_data = pd.read_csv("data/books-dataset/Books.csv", 
                         na_values = ["Unknown", "No rating"]             
)

books_data = pd.read_csv("data/books-dataset/Books.csv", 
                         na_values = ["Unknown", "No rating"]
                         header = None, names = ["book title, ..."], skiprows
                         
)

In [4]:
books_data.columns

Index(['title', 'author', 'pages', 'genre', 'description', 'published_date',
       'publisher', 'language', 'average_rating', 'ratings_count',
       'thumbnail'],
      dtype='object')

In [ ]:
pd.read_excel(sheet_name = None)

In [5]:
pd.read_parquet("data/0000.parquet")

                                                messages
0      [{'content': 'I've been feeling so sad and ove...
1      [{'content': 'Hi, I'm feeling really scared ab...
2      [{'content': 'Hey, I hope you're doing well. I...
3      [{'content': 'I'm feeling really overwhelmed, ...
4      [{'content': 'I'm feeling really upset and con...
...                                                  ...
99081  [{'content': 'Hi Alex, I hope you're doing wel...
99082  [{'content': 'I'm feeling really regretful and...
99083  [{'content': 'I'm feeling regretful about the ...
99084  [{'content': 'Hi Alex, I'm feeling so frustrat...
99085  [{'content': 'I've been feeling really depress...

[99086 rows x 1 columns]

In [7]:
books_data = pd.read_csv("data/books-dataset/Books.csv", 
                         na_values = ["Unknown", "No rating"],
                         chunksize = 10
)

In [8]:
books_data

In [9]:
next(books_data)

,title,author,pages,genre,description,published_date,publisher,language,average_rating,ratings_count,thumbnail
0,Fictional Points of View,Peter Lamarque,252,Literary Criticism,The volume focuses on a wide range of thinkers...,1996,Cornell University Press,en,NaN,0,http://books.google.com/books/content?id=rh-om...
1,Science Fiction and Fantasy Literature,"R. Reginald, Douglas Menville, Mary A. Burgess",802,Reference,"Science Fiction and Fantasy Literature, A Chec...",2010-09-01,Wildside Press LLC,en,NaN,0,http://books.google.com/books/content?id=P8zW2...
2,Library of Congress Subject Headings,Library of Congress. Cataloging Policy and Sup...,1662,"Subject headings, Library of Congress",No description available,2004,Unknown Publisher,en,NaN,0,http://books.google.com/books/content?id=pEhkh...
3,Library of Congress Subject Headings,Library of Congress,1512,"Subject headings, Library of Congress",No description available,2007,Unknown Publisher,en,NaN,0,http://books.google.com/books/content?id=FgAjF...
4,Fictional Space in the Modernist and Post-mode...,Carl Darryl Malmgren,248,Fiction,Fictional space is the imaginal expanse of fie...,1985,Bucknell University Press,en,NaN,0,http://books.google.com/books/content?id=KXzoz...
5,Mestizos Come Home!,Robert Con Davis-Undiano,337,History,Uruguayan writer Eduardo Galeano has described...,2017-03-30,University of Oklahoma Press,en,NaN,0,http://books.google.com/books/content?id=fk1jD...
6,"Fictional Practice: Magic, Narration, and the ...",Unknown Author,384,"Body, Mind & Spirit",To what extent were practitioners of magic ins...,2021-09-27,BRILL,en,NaN,0,http://books.google.com/books/content?id=NLJFE...
7,Telling Lies in Modern American Autobiography,Timothy Dow Adams,230,Literary Criticism,This collection of twelve essays discusses the...,1990-01-01,UNC Press Books,en,NaN,0,http://books.google.com/books/content?id=p6YBb...
8,"Essential Skills - Reading and Writing, Grade 1","Teacher Created Resources, Inc",178,Activity programs in education,No description available,2008-12,Teacher Created Resources,en,NaN,0,http://books.google.com/books/content?id=Gynn-...
9,Pearson's Magazine,Unknown Author,692,English fiction,No description available,1902,Unknown Publisher,en,NaN,0,http://books.google.com/books/content?id=IqHQA...

In [10]:
next(books_data)

,title,author,pages,genre,description,published_date,publisher,language,average_rating,ratings_count,thumbnail
10,Reload,"Mary Flanagan, Austin Booth",604,Social Science,An anthology of feminist cyberfiction and theo...,2002-05-03,MIT Press,en,NaN,0,http://books.google.com/books/content?id=8LFsP...
11,Presented Discourse in Popular Science,Olga Pilkington,206,Language Arts & Disciplines,"In Presented Discourse in Popular Science, Olg...",2018-07-03,BRILL,en,NaN,0,http://books.google.com/books/content?id=P-t5D...
12,Encyclopedia of the Novel,Paul Schellinger,838,Literary Criticism,The Encyclopedia of the Novel is the first ref...,2014-04-08,Routledge,en,3.0,2,http://books.google.com/books/content?id=FPdRA...
13,Idealism,"Tyron Goldschmidt, Kenneth L. Pearce",314,Philosophy,Idealism is a family of metaphysical views eac...,2017,Oxford University Press,en,NaN,0,http://books.google.com/books/content?id=j_pAD...
14,Boys' Life,Unknown Author,64,Unknown Genre,Boys' Life is the official youth magazine for ...,1985-04,Unknown Publisher,en,NaN,0,http://books.google.com/books/content?id=cWYEA...
15,The Philosophy of David Cronenberg,Simon Riches,234,Philosophy,Initially regarded as a cult figure with a str...,2012-04-20,University Press of Kentucky,en,NaN,0,http://books.google.com/books/content?id=sTaF8...
16,International Who's Who of Authors and Writers...,Europa Publications,644,Biography & Autobiography,Accurate and reliable biographical information...,2003,Psychology Press,en,NaN,0,http://books.google.com/books/content?id=phhhH...
17,Catalogue of the Oakland Free Public Library,Oakland Free Library,224,Library catalogs,No description available,1885,Unknown Publisher,en,NaN,0,http://books.google.com/books/content?id=GZm9A...
18,Annual Magazine Subject-index,Unknown Author,652,Drama,No description available,1913,Unknown Publisher,en,NaN,0,http://books.google.com/books/content?id=xbxIA...
19,"Hugo Gernsback, Father of Modern Science Fiction",Mark Siegel,104,Literary Criticism,No description available,1988,Millefleurs,en,NaN,0,http://books.google.com/books/content?id=PaVaA...

In [14]:
import sqlite3

In [16]:
con = sqlite3.connect("data/shopping-data/database.sqlite")

In [17]:
cur = con.cursor()

In [19]:
df = pd.read_sql_query("SELECT * from Salaries", con)

In [20]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.59,,326373.19,326373.19,2011,,San Francisco,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,,San Francisco,PT

In [22]:
salaries = pd.read_sql_query("SELECT * from Salaries limit 10", con)

In [23]:
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,,326373.19,326373.19,2011,,San Francisco,
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,,316285.74,316285.74,2011,,San Francisco,
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,,315981.05,315981.05,2011,,San Francisco,
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,,307899.46,307899.46,2011,,San Francisco,
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,,303427.55,303427.55,2011,,San Francisco,
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,,302377.73,302377.73,2011,,San Francisco,

In [24]:
salaries = pd.read_sql_query("SELECT * from Salaries order by EmployeeName limit 10", con)

In [25]:
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,29354,A BERNARD FATOOH,SHERIFF'S PROPERTY KEEPER,19969.37,0,70.54,,20039.91,20039.91,2011,,San Francisco,
1,102844,A Bernard Fatooh,Sheriff's Property Keeper,23908.50,0,15.12,5455.62,23923.62,29379.24,2013,,San Francisco,
2,66372,A Bernard Fatooh,Sheriff's Property Keeper,18472.35,0,27.84,5014.66,18500.19,23514.85,2012,,San Francisco,
3,140526,A Bernard Fatooh,Sheriff's Property Keeper,24061.35,0,0.00,6091.68,24061.35,30153.03,2014,,San Francisco,PT
4,28470,A ELIZABETH MARCHASIN,PRINCIPAL CLERK,23591.80,0,2691.06,,26282.86,26282.86,2011,,San Francisco,
5,12419,A JAMIL NIAZI,IS ENGINEER - PRINCIPAL,69058.19,0,18438.02,,87496.21,87496.21,2011,,San Francisco,
6,140928,A K Finizio,Customer Service Agent Trainee,25478.86,0,375.95,258.56,25854.81,26113.37,2014,,San Francisco,PT
7,29449,A. JAMES ROBERTSON II,SUPERIOR COURT JUDGE,9464.00,0,10009.92,,19473.92,19473.92,2011,,San Francisco,
8,103641,A. James Robertson Ii,Superior Court Judge,9827.56,0,12774.24,0,22601.80,22601.80,2013,,San Francisco,
9,66488,A. James Robertson Ii,Superior Court Judge,9463.87,0,12601.84,645.99,22065.71,22711.70,2012,,San Francisco,

In [26]:
salaries = pd.read_sql_query("SELECT JobTitle, BasePay from Salaries order by EmployeeName limit 10", con)

In [27]:
salaries

                         JobTitle   BasePay
0       SHERIFF'S PROPERTY KEEPER  19969.37
1       Sheriff's Property Keeper  23908.50
2       Sheriff's Property Keeper  18472.35
3       Sheriff's Property Keeper  24061.35
4                 PRINCIPAL CLERK  23591.80
5         IS ENGINEER - PRINCIPAL  69058.19
6  Customer Service Agent Trainee  25478.86
7            SUPERIOR COURT JUDGE   9464.00
8            Superior Court Judge   9827.56
9            Superior Court Judge   9463.87

In [28]:
salaries = pd.read_sql_query("SELECT EmployeeName, JobTitle, BasePay from Salaries order by EmployeeName limit 10", con)

In [29]:
salaries

             EmployeeName                        JobTitle   BasePay
0        A BERNARD FATOOH       SHERIFF'S PROPERTY KEEPER  19969.37
1       A Bernard  Fatooh       Sheriff's Property Keeper  23908.50
2        A Bernard Fatooh       Sheriff's Property Keeper  18472.35
3        A Bernard Fatooh       Sheriff's Property Keeper  24061.35
4   A ELIZABETH MARCHASIN                 PRINCIPAL CLERK  23591.80
5           A JAMIL NIAZI         IS ENGINEER - PRINCIPAL  69058.19
6             A K Finizio  Customer Service Agent Trainee  25478.86
7   A. JAMES ROBERTSON II            SUPERIOR COURT JUDGE   9464.00
8  A. James  Robertson Ii            Superior Court Judge   9827.56
9   A. James Robertson Ii            Superior Court Judge   9463.87

In [30]:
salaries_part1 = pd.read_sql_query("SELECT EmployeeName, JobTitle, BasePay from Salaries order by EmployeeName limit 10", con)

In [31]:
salaries_part1

             EmployeeName                        JobTitle   BasePay
0        A BERNARD FATOOH       SHERIFF'S PROPERTY KEEPER  19969.37
1       A Bernard  Fatooh       Sheriff's Property Keeper  23908.50
2        A Bernard Fatooh       Sheriff's Property Keeper  18472.35
3        A Bernard Fatooh       Sheriff's Property Keeper  24061.35
4   A ELIZABETH MARCHASIN                 PRINCIPAL CLERK  23591.80
5           A JAMIL NIAZI         IS ENGINEER - PRINCIPAL  69058.19
6             A K Finizio  Customer Service Agent Trainee  25478.86
7   A. JAMES ROBERTSON II            SUPERIOR COURT JUDGE   9464.00
8  A. James  Robertson Ii            Superior Court Judge   9827.56
9   A. James Robertson Ii            Superior Court Judge   9463.87

In [37]:
salaries_part2 = pd.read_sql_query("SELECT EmployeeName, JobTitle, BasePay from Salaries order by EmployeeName desc limit 10", con)

In [38]:
salaries_part2

             EmployeeName                  JobTitle   BasePay
0              Zuri Jones  Deputy Probation Officer  86588.52
1              Zuri Jones  Deputy Probation Officer  66667.54
2             Zuri  Jones  Deputy Probation Officer  71986.90
3              Zuna T Luu                 Custodian  55026.00
4              Zuna T Luu                 Custodian  54703.00
5                Zuna Luu                 Custodian  51502.86
6        Zun Jin Zhang He                 Custodian  51492.80
7        Zun Jin Zhang He                 Custodian  53732.21
8       Zun Jin  Zhang He                 Custodian  55026.00
9  Zulma V Merino-Fuentes     Medical Social Worker  29718.72

In [39]:
pd.concat([salaries_part1, salaries_part2])

             EmployeeName                        JobTitle   BasePay
0        A BERNARD FATOOH       SHERIFF'S PROPERTY KEEPER  19969.37
1       A Bernard  Fatooh       Sheriff's Property Keeper  23908.50
2        A Bernard Fatooh       Sheriff's Property Keeper  18472.35
3        A Bernard Fatooh       Sheriff's Property Keeper  24061.35
4   A ELIZABETH MARCHASIN                 PRINCIPAL CLERK  23591.80
5           A JAMIL NIAZI         IS ENGINEER - PRINCIPAL  69058.19
6             A K Finizio  Customer Service Agent Trainee  25478.86
7   A. JAMES ROBERTSON II            SUPERIOR COURT JUDGE   9464.00
8  A. James  Robertson Ii            Superior Court Judge   9827.56
9   A. James Robertson Ii            Superior Court Judge   9463.87
0              Zuri Jones        Deputy Probation Officer  86588.52
1              Zuri Jones        Deputy Probation Officer  66667.54
2             Zuri  Jones        Deputy Probation Officer  71986.90
3              Zuna T Luu                       Custodian  55026.00
4              Zuna T Luu                       Custodian  54703.00
5                Zuna Luu                       Custodian  51502.86
6        Zun Jin Zhang He                       Custodian  51492.80
7        Zun Jin Zhang He                       Custodian  53732.21
8       Zun Jin  Zhang He                       Custodian  55026.00
9  Zulma V Merino-Fuentes           Medical Social Worker  29718.72

In [40]:
result = pd.concat([salaries_part1, salaries_part2])

In [41]:
result.reset_index()

    index            EmployeeName                        JobTitle   BasePay
0       0        A BERNARD FATOOH       SHERIFF'S PROPERTY KEEPER  19969.37
1       1       A Bernard  Fatooh       Sheriff's Property Keeper  23908.50
2       2        A Bernard Fatooh       Sheriff's Property Keeper  18472.35
3       3        A Bernard Fatooh       Sheriff's Property Keeper  24061.35
4       4   A ELIZABETH MARCHASIN                 PRINCIPAL CLERK  23591.80
5       5           A JAMIL NIAZI         IS ENGINEER - PRINCIPAL  69058.19
6       6             A K Finizio  Customer Service Agent Trainee  25478.86
7       7   A. JAMES ROBERTSON II            SUPERIOR COURT JUDGE   9464.00
8       8  A. James  Robertson Ii            Superior Court Judge   9827.56
9       9   A. James Robertson Ii            Superior Court Judge   9463.87
10      0              Zuri Jones        Deputy Probation Officer  86588.52
11      1              Zuri Jones        Deputy Probation Officer  66667.54
12      2             Zuri  Jones        Deputy Probation Officer  71986.90
13      3              Zuna T Luu                       Custodian  55026.00
14      4              Zuna T Luu                       Custodian  54703.00
15      5                Zuna Luu                       Custodian  51502.86
16      6        Zun Jin Zhang He                       Custodian  51492.80
17      7        Zun Jin Zhang He                       Custodian  53732.21
18      8       Zun Jin  Zhang He                       Custodian  55026.00
19      9  Zulma V Merino-Fuentes           Medical Social Worker  29718.72

In [44]:
result = result.reset_index(drop = True)

In [45]:
result

              EmployeeName                        JobTitle   BasePay
0         A BERNARD FATOOH       SHERIFF'S PROPERTY KEEPER  19969.37
1        A Bernard  Fatooh       Sheriff's Property Keeper  23908.50
2         A Bernard Fatooh       Sheriff's Property Keeper  18472.35
3         A Bernard Fatooh       Sheriff's Property Keeper  24061.35
4    A ELIZABETH MARCHASIN                 PRINCIPAL CLERK  23591.80
5            A JAMIL NIAZI         IS ENGINEER - PRINCIPAL  69058.19
6              A K Finizio  Customer Service Agent Trainee  25478.86
7    A. JAMES ROBERTSON II            SUPERIOR COURT JUDGE   9464.00
8   A. James  Robertson Ii            Superior Court Judge   9827.56
9    A. James Robertson Ii            Superior Court Judge   9463.87
10              Zuri Jones        Deputy Probation Officer  86588.52
11              Zuri Jones        Deputy Probation Officer  66667.54
12             Zuri  Jones        Deputy Probation Officer  71986.90
13              Zuna T Luu                       Custodian  55026.00
14              Zuna T Luu                       Custodian  54703.00
15                Zuna Luu                       Custodian  51502.86
16        Zun Jin Zhang He                       Custodian  51492.80
17        Zun Jin Zhang He                       Custodian  53732.21
18       Zun Jin  Zhang He                       Custodian  55026.00
19  Zulma V Merino-Fuentes           Medical Social Worker  29718.72

In [46]:
result.loc[4]

EmployeeName    A ELIZABETH MARCHASIN
JobTitle              PRINCIPAL CLERK
BasePay                       23591.8
Name: 4, dtype: object

In [50]:
jobs_titles = pd.read_sql_query("SELECT EmployeeName, JobTitle from Salaries limit 100", con)

In [51]:
total_amounts = pd.read_sql_query("SELECT EmployeeName, TotalPay from Salaries limit 100", con)

In [52]:
jobs_titles

         EmployeeName                                          JobTitle
0      NATHANIEL FORD    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1        GARY JIMENEZ                   CAPTAIN III (POLICE DEPARTMENT)
2      ALBERT PARDINI                   CAPTAIN III (POLICE DEPARTMENT)
3   CHRISTOPHER CHONG              WIRE ROPE CABLE MAINTENANCE MECHANIC
4     PATRICK GARDNER      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
..                ...                                               ...
95       MIVIC HIROSE                                      MANAGER VIII
96         SARAH CARY                                       ANESTHETIST
97        KEVIN SMITH                BATTALION CHIEF, (FIRE DEPARTMENT)
98  GREGORY STANGLAND                            FIRE FIGHTER PARAMEDIC
99        SONALI BOSE  DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG

[100 rows x 2 columns]

In [53]:
total_amounts

         EmployeeName   TotalPay
0      NATHANIEL FORD  567595.43
1        GARY JIMENEZ  538909.28
2      ALBERT PARDINI  335279.91
3   CHRISTOPHER CHONG  332343.61
4     PATRICK GARDNER  326373.19
..                ...        ...
95       MIVIC HIROSE  227180.76
96         SARAH CARY  227080.50
97        KEVIN SMITH  226357.33
98  GREGORY STANGLAND  224439.97
99        SONALI BOSE  224035.85

[100 rows x 2 columns]

In [55]:
jobs_titles.EmployeeName.nunique()

99

In [57]:
pd.merge(jobs_titles, total_amounts)

,EmployeeName,JobTitle,TotalPay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19
...,...,...,...
97,MIVIC HIROSE,MANAGER VIII,227180.76
98,SARAH CARY,ANESTHETIST,227080.50
99,KEVIN SMITH,"BATTALION CHIEF, (FIRE DEPARTMENT)",226357.33
100,GREGORY STANGLAND,FIRE FIGHTER PARAMEDIC,224439.97
101,SONALI BOSE,DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG,224035.85

In [59]:
jobs_titles.merge(total_amounts, on = "EmployeeName")

,EmployeeName,JobTitle,TotalPay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19
...,...,...,...
97,MIVIC HIROSE,MANAGER VIII,227180.76
98,SARAH CARY,ANESTHETIST,227080.50
99,KEVIN SMITH,"BATTALION CHIEF, (FIRE DEPARTMENT)",226357.33
100,GREGORY STANGLAND,FIRE FIGHTER PARAMEDIC,224439.97
101,SONALI BOSE,DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG,224035.85

In [61]:
jobs_titles.columns = ["name", "title"]

In [62]:
total_amounts.columns = ["employee_full_name", "amount"]

In [63]:
jobs_titles.merge(total_amounts, on = "EmployeeName")

KeyError: 'EmployeeName'

In [64]:
jobs_titles.merge(total_amounts, left_on = "name", right_on = "employee_full_name")

,name,title,employee_full_name,amount
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,NATHANIEL FORD,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),GARY JIMENEZ,538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),ALBERT PARDINI,335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,CHRISTOPHER CHONG,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",PATRICK GARDNER,326373.19
...,...,...,...,...
97,MIVIC HIROSE,MANAGER VIII,MIVIC HIROSE,227180.76
98,SARAH CARY,ANESTHETIST,SARAH CARY,227080.50
99,KEVIN SMITH,"BATTALION CHIEF, (FIRE DEPARTMENT)",KEVIN SMITH,226357.33
100,GREGORY STANGLAND,FIRE FIGHTER PARAMEDIC,GREGORY STANGLAND,224439.97
101,SONALI BOSE,DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG,SONALI BOSE,224035.85

In [66]:
pd.read_json("https://openlibrary.org/api/books?bibkeys=ISBN:9780345354907,ISBN:0881847690,LCCN:2005041555,ISBN:0060957905&format=json")

,ISBN:9780345354907,ISBN:0881847690,LCCN:2005041555,ISBN:0060957905
bib_key,ISBN:9780345354907,ISBN:0881847690,LCCN:2005041555,ISBN:0060957905
info_url,https://openlibrary.org/books/OL9831606M/The_C...,https://openlibrary.org/books/OL22232644M/Watc...,https://openlibrary.org/books/OL3421202M/At_th...,https://openlibrary.org/books/OL6784868M/Tales...
preview,restricted,restricted,restricted,noview
preview_url,https://archive.org/details/caseofcharlesdex00...,https://archive.org/details/watchersoutoftim00...,https://archive.org/details/atmountainsofmad00...,https://openlibrary.org/books/OL6784868M/Tales...
thumbnail_url,https://covers.openlibrary.org/b/id/207586-S.jpg,https://covers.openlibrary.org/b/id/9871313-S.jpg,https://covers.openlibrary.org/b/id/8259841-S.jpg,https://covers.openlibrary.org/b/id/676505-S.jpg

In [69]:
pd.read_json("https://openlibrary.org/api/books?bibkeys=ISBN:9780345354907,ISBN:0881847690,LCCN:2005041555,ISBN:0060957905&format=json", orient = "index")

,bib_key,info_url,preview,preview_url,thumbnail_url
ISBN:9780345354907,ISBN:9780345354907,https://openlibrary.org/books/OL9831606M/The_C...,restricted,https://archive.org/details/caseofcharlesdex00...,https://covers.openlibrary.org/b/id/207586-S.jpg
ISBN:0881847690,ISBN:0881847690,https://openlibrary.org/books/OL22232644M/Watc...,restricted,https://archive.org/details/watchersoutoftim00...,https://covers.openlibrary.org/b/id/9871313-S.jpg
LCCN:2005041555,LCCN:2005041555,https://openlibrary.org/books/OL3421202M/At_th...,restricted,https://archive.org/details/atmountainsofmad00...,https://covers.openlibrary.org/b/id/8259841-S.jpg
ISBN:0060957905,ISBN:0060957905,https://openlibrary.org/books/OL6784868M/Tales...,noview,https://openlibrary.org/books/OL6784868M/Tales...,https://covers.openlibrary.org/b/id/676505-S.jpg

{
  "ISBN:9780345354907": {
    "bib_key": "ISBN:9780345354907",
    "info_url": "https://openlibrary.org/books/OL9831606M/The_Case_of_Charles_Dexter_Ward",
    "preview": "restricted",
    "preview_url": "https://archive.org/details/caseofcharlesdex00hplo",
    "thumbnail_url": "https://covers.openlibrary.org/b/id/207586-S.jpg"
  },
  "ISBN:0881847690": {
    "bib_key": "ISBN:0881847690",
    "info_url": "https://openlibrary.org/books/OL22232644M/Watchers_out_of_time.",
    "preview": "restricted",
    "preview_url": "https://archive.org/details/watchersoutoftim00love",
    "thumbnail_url": "https://covers.openlibrary.org/b/id/9871313-S.jpg"
  },
  "LCCN:2005041555": {
    "bib_key": "LCCN:2005041555",
    "info_url": "https://openlibrary.org/books/OL3421202M/At_the_mountains_of_madness",
    "preview": "restricted",
    "preview_url": "https://archive.org/details/atmountainsofmad00love_0",
    "thumbnail_url": "https://covers.openlibrary.org/b/id/8259841-S.jpg"
  },
  "ISBN:0060957905": {
    "bib_key": "ISBN:0060957905",
    "info_url": "https://openlibrary.org/books/OL6784868M/Tales_of_H.P._Lovecraft",
    "preview": "noview",
    "preview_url": "https://openlibrary.org/books/OL6784868M/Tales_of_H.P._Lovecraft",
    "thumbnail_url": "https://covers.openlibrary.org/b/id/676505-S.jpg"
  }
}

In [70]:
salaries

             EmployeeName                        JobTitle   BasePay
0        A BERNARD FATOOH       SHERIFF'S PROPERTY KEEPER  19969.37
1       A Bernard  Fatooh       Sheriff's Property Keeper  23908.50
2        A Bernard Fatooh       Sheriff's Property Keeper  18472.35
3        A Bernard Fatooh       Sheriff's Property Keeper  24061.35
4   A ELIZABETH MARCHASIN                 PRINCIPAL CLERK  23591.80
5           A JAMIL NIAZI         IS ENGINEER - PRINCIPAL  69058.19
6             A K Finizio  Customer Service Agent Trainee  25478.86
7   A. JAMES ROBERTSON II            SUPERIOR COURT JUDGE   9464.00
8  A. James  Robertson Ii            Superior Court Judge   9827.56
9   A. James Robertson Ii            Superior Court Judge   9463.87

In [71]:
salaries = pd.read_sql_query("SELECT EmployeeName, JobTitle from Salaries", con)

In [72]:
salaries

             EmployeeName                                        JobTitle
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148649      Roy I Tillery                                       Custodian
148650       Not provided                                    Not provided
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653          Joe Lopez                      Counselor, Log Cabin Ranch

[148654 rows x 2 columns]

In [75]:
for row in salaries.iterrows():
    print(row)
    break

(0, EmployeeName                                    NATHANIEL FORD
JobTitle        GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: 0, dtype: object)

In [76]:
salaries[0:100]

         EmployeeName                                          JobTitle
0      NATHANIEL FORD    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1        GARY JIMENEZ                   CAPTAIN III (POLICE DEPARTMENT)
2      ALBERT PARDINI                   CAPTAIN III (POLICE DEPARTMENT)
3   CHRISTOPHER CHONG              WIRE ROPE CABLE MAINTENANCE MECHANIC
4     PATRICK GARDNER      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
..                ...                                               ...
95       MIVIC HIROSE                                      MANAGER VIII
96         SARAH CARY                                       ANESTHETIST
97        KEVIN SMITH                BATTALION CHIEF, (FIRE DEPARTMENT)
98  GREGORY STANGLAND                            FIRE FIGHTER PARAMEDIC
99        SONALI BOSE  DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG

[100 rows x 2 columns]

In [77]:
salaries.loc[0:100]

          EmployeeName                                          JobTitle
0       NATHANIEL FORD    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1         GARY JIMENEZ                   CAPTAIN III (POLICE DEPARTMENT)
2       ALBERT PARDINI                   CAPTAIN III (POLICE DEPARTMENT)
3    CHRISTOPHER CHONG              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      PATRICK GARDNER      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
..                 ...                                               ...
96          SARAH CARY                                       ANESTHETIST
97         KEVIN SMITH                BATTALION CHIEF, (FIRE DEPARTMENT)
98   GREGORY STANGLAND                            FIRE FIGHTER PARAMEDIC
99         SONALI BOSE  DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG
100       KEVIN TAYLOR                BATTALION CHIEF, (FIRE DEPARTMENT)

[101 rows x 2 columns]

In [78]:
salaries.loc[101:200]

        EmployeeName                                           JobTitle
101        ERIKA HOO                        LIEUTENANT, FIRE DEPARTMENT
102  LAUIFI SEUMAALA                                        FIREFIGHTER
103    EDWARD DENNIS                                 TRANSIT SUPERVISOR
104    PATRIC STEELE                                        FIREFIGHTER
105    MICHAEL WALSH                                        FIREFIGHTER
..               ...                                                ...
196  BURK DELVENTHAL                CHIEF ATTORNEY I (CIVIL & CRIMINAL)
197    THOMAS HARVEY  CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC ...
198   MARTIN BELTRAN                                        FIREFIGHTER
199      LORI BORGHI                                        ANESTHETIST
200       ROBERT TAI                                        FIREFIGHTER

[100 rows x 2 columns]

In [79]:
salaries.loc[201:300]

          EmployeeName                             JobTitle
201  CHRISTOPHER HAZEN                          FIREFIGHTER
202    PIERRE FRANCOIS            CAPTAIN, FIRE SUPPRESSION
203   ROSELYN JEQUINTO                        NURSE MANAGER
204       TROY JOLLIFF                          FIREFIGHTER
205      COLLEEN RILEY                         MANAGER VIII
..                 ...                                  ...
296        DAVID LAZAR      CAPTAIN III (POLICE DEPARTMENT)
297  JOSEPHINE RAPADAS                        NURSE MANAGER
298     JAMES HARRIGAN  CHIEF ATTORNEY I (CIVIL & CRIMINAL)
299      JOANNE HOEPER  CHIEF ATTORNEY I (CIVIL & CRIMINAL)
300      MORGAN PETITI                          FIREFIGHTER

[100 rows x 2 columns]

In [83]:
salaries.loc[0:100].to_csv("salaries/part1.csv")

In [86]:
salaries.loc[101:200].to_csv("salaries/part2.csv")

In [87]:
salaries.loc[201:300].to_csv("salaries/part3.csv")

In [88]:
import dask.dataframe as dd

In [90]:
dd.read_csv("salaries/*")

Dask DataFrame Structure:
              Unnamed: 0 EmployeeName JobTitle
npartitions=3
                   int64       string   string
                     ...          ...      ...
                     ...          ...      ...
                     ...          ...      ...
Dask Name: to_string_dtype, 2 expressions
Expr=ArrowStringConversion(frame=FromMapProjectable(f177a39))

In [91]:
dd.read_csv("salaries/*").compute()

,Unnamed: 0,EmployeeName,JobTitle
0,0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1,1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT)
2,2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT)
3,3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC
4,4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)"
...,...,...,...
95,296,DAVID LAZAR,CAPTAIN III (POLICE DEPARTMENT)
96,297,JOSEPHINE RAPADAS,NURSE MANAGER
97,298,JAMES HARRIGAN,CHIEF ATTORNEY I (CIVIL & CRIMINAL)
98,299,JOANNE HOEPER,CHIEF ATTORNEY I (CIVIL & CRIMINAL)
99,300,MORGAN PETITI,FIREFIGHTER

In [92]:
dd.read_csv("salaries/*").EmployeeName

Dask Series Structure:
npartitions=3
    string
       ...
       ...
       ...
Dask Name: getitem, 3 expressions
Expr=ArrowStringConversion(frame=FromMapProjectable(f177a39))['EmployeeName']

In [93]:
dd.read_csv("salaries/*").EmployeeName.count().compute()

np.int64(301)